<div class="container px-4 py-5" id="icon-grid">
    <div class="py-2 mb-3 border-bottom">
   
        <h2>Bookings</h2>
        
      </div>

      <div class="table-responsive large" >
        <table class="table table-striped table-lg" style="table-layout: fixed; width: 100%;">
          <thead>
            <tr class="row-item-success" >
              <th scope="col"  style="text-align:center">Booking ID</th>
              <th scope="col" style="text-align:center">Venue</th>
              <th scope="col" style="text-align:center">Court</th>
              <th scope="col" style="text-align:center">Slot</th>
              <th scope="col" style="text-align:center">Amount</th>
              
              <th scope="col" colspan="1" style="text-align:center">Tournament</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of data.user_booking_data" >
              <td style="text-align:center">{{ booking.bookingID }}</td>     
              <td style="text-align:center">{{ booking.venueName }}</td>  
              <td style="text-align:center">{{ booking.courtName }}</td>  
              <td style="text-align:center">{{ booking.slot }}</td>  
              <td style="text-align:center">{{ booking.amount }}</td>         
              <td style="border-left: 3px solid white; text-align: center;">
                <span><img src="../../../assets/trophy.png" class="tropy-img" style="width: 36px;"/></span><br />
                <span>{{ booking.tournamentName }}</span><br />
                <span style="font-size: small; font-weight: 200;"> {{ booking.bookingDate }} </span><br />
              </td>
            </tr> 
            
          </tbody>
        </table>
      </div>
  
    </div>
