<div class="container ">
    <h2 class="pb-2 pt-5 border-bottom py-3">November 2023</h2>
    <div class="date-btn d-flex container g-5 gap-5">
        <button type="button" class="btn btn-dark">
            Saturday <span class="badge text-bg-light">11<sup>th</sup></span>
        </button>
        <button type="button" class="btn btn-outline-secondary">
            Sunday <span class="badge text-bg-light">12<sup>th</sup></span>
        </button>
        <button type="button" class="btn btn-outline-secondary">
            Monday <span class="badge text-bg-light">13<sup>th</sup></span>
        </button>
        <button type="button" class="btn btn-outline-secondary">
            Tuesday <span class="badge text-bg-light">14<sup>th</sup></span>
        </button>
        <button type="button" class="btn btn-outline-secondary">
            Wednesday <span class="badge text-bg-light">15<sup>th</sup></span>
        </button>
        <button type="button" class="btn btn-outline-secondary">
           Thursday <span class="badge text-bg-light">16<sup>th</sup></span>
        </button>
        <button type="button" class="btn btn-outline-secondary">
            Friday <span class="badge text-bg-light">17<sup>th</sup></span>
         </button>
    </div>
    <div class="border-bottom py-2"></div>
    <h2></h2>
       <div class="py-2 schedule-row">
        <h4 class="text-body-emphasis">Gachibowli Stadium</h4>
        <div class="col d-flex flex-column gap-2 align-items-end">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item disabled px-5 py-5">08:00 AM</li>
                <li class="list-group-item disabled px-5 py-5">09:00 AM</li>
                <li class="list-group-item disabled px-5 py-5">10:00 AM</li>
                <li class="list-group-item disabled px-5 py-5">11:00 AM</li>
                <li class="list-group-item list-group-item-success  px-5 py-5" (click)="btnClick()">12:00 PM <br /> Rs. 350/-</li>
                <li class="list-group-item disabled  px-5 py-5">01:00 PM</li>       
            </ul>
        </div>
    </div>
    <div class="py-2 schedule-row">
        <h4 class="text-body-emphasis">Apollo Banjara Club</h4>
        <div class="col d-flex flex-column gap-2 align-items-end">
            <ul class="list-group list-group-horizontal-sm ">
                <li class="list-group-item disabled px-5 py-5">08:00 AM</li>
                <li class="list-group-item disabled px-5 py-5">09:00 AM</li>
                <li class="list-group-item list-group-item-success px-5 py-5" (click)="btnClick()">10:00 AM <br /> Rs. 400/-</li>
                <li class="list-group-item disabled  px-5 py-5">11:00 AM</li>
                <li class="list-group-item disabled  px-5 py-5">12:00 PM</li>
                <li class="list-group-item disabled  px-5 py-5">01:00 PM</li>
              </ul>
        </div>
    </div>
    <div class="py-2 schedule-row">
        <h4 class="text-body-emphasis">Jubilee Hills Basketball Club</h4>
        <div class="col d-flex flex-column gap-2 align-items-end">
            <ul class="list-group list-group-horizontal-md ">
                <li class="list-group-item disabled px-5 py-5">08:00 AM</li>
                <li class="list-group-item disabled px-5 py-5">09:00 AM</li>
                <li class="list-group-item disabled px-5 py-5">10:00 AM</li>
                <li class="list-group-item disabled  px-5 py-5">11:00 AM</li>
                <li class="list-group-item disabled  px-5 py-5">12:00 PM</li>
                <li class="list-group-item list-group-item-success  px-5 py-5" (click)="btnClick()">01:00 PM <br /> Rs. 500/-</li>
            </ul>
        </div>
    </div>
    <p class="mt-5 mb-3 text-body-secondary">Please select slot for booking</p>
</div>