<!-- <div class="mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0 home-container">
        <img class="home-img" src="..\..\assets\home-img.png"/>
    </div>
  </div> -->

  <!--   <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
   
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
          <div class="container">
          
          </div>
        </div>
     
      </div>
   
    </div>
   -->
   <app-jumbotron></app-jumbotron>
    <div class="container marketing py-5">
  
   
      <div class="row">
        <div class="col-lg-4">
          <img class="activity-icon" src="../../../assets/trophy.png" />
          <h2 class="fw-normal">Tournaments</h2>
          <p>Select the appropriate tournament</p>
          <p><button class="custom-btn btn btn-dark btn-lg px-4 rounded-pill" (click)="btnClick()">View details </button></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="activity-icon" src="../../../assets/event.png" />
          <h2 class="fw-normal">Bookings</h2>
          <p>View/reschedule bookings</p>
          <p><button class="custom-btn btn btn-dark btn-lg px-4 rounded-pill" (click)="btnClick()">View details </button></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="activity-icon" src="../../../assets/promo-code.png" />
          <h2 class="fw-normal">Coupons</h2>
          <p>Redeem/check offers</p>
          <p><button class="custom-btn btn btn-dark btn-lg px-4 rounded-pill" (click)="btnClick()">View details </button></p>
        </div><!-- /.col-lg-4 -->
      </div>
  
  
      
  
    </div>
  
  
