.logo-img{
    width: 25%;
    border-radius: 45px;
}
.second-logo-img{
    width: 50%;
    border-radius: 40px;

}
.second-logo-cotainer{
    display: flex;
    justify-content: flex-end;

}
.container-logo{
    justify-content: flex-end;
}