.logo{
    border-radius: 50%;
    width: 14%;
}
.btn-grp{
    display: flex;
}
.custom-btn{
    height: 50px;
}
.spin{
    margin-left: 10px;
}
.check-admin{
    margin: 5px;
    vertical-align: bottom;
    margin-right: 10px;
}
.error-msg{
    color: red;
    font-weight: 400;
    font-size: 12px;
}
.info-msg{
    color: blue;
    font-weight: 400;
    font-size: 12px;
}