<div class="container d-flex align-items-center py-4 bg-body-tertiary h-100">
  <main class="form-signin w-50 m-auto">
      <form>
        <img class="logo mb-4"  src="../../../assets/logo.png" alt="" >
        <h1 class="h3 mb-3 fw-normal">Sign in</h1>
        <div class="form-floating">
          <input type="mobile" class="form-control" id="floatingInput" placeholder="+9xx - 999 999 9999" required pattern="[- +()0-9]{10,12}" minlength="10" maxlength="10" (keydown)="validateNumber($event)">
          <label for="floatingInput">Mobile</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control"  id="floatingPassword" placeholder="Password" #box (keyup.enter)="onEnter(box.value)" (blur)="onEnter(box.value)" minlength="6" maxlength="6" (keydown)="validateNumber($event)">
          <label for="floatingPassword">OTP</label>
        </div>
    
        <div class="form-check text-start my-3">
          
          <label class="form-check-label" for="flexCheckDefault">
        
          </label>
        </div>
        <div class="btn-grp">
          <button class="custom-btn btn btn-dark w-50 py-2 rounded-pill" [disabled]="!box.value" type="button" (click)="btnClick()">
            <span role="status ">Login</span> 
            <span *ngIf="display" class="spin spinner-border spinner-border-sm " aria-hidden="true"></span>
          </button>
       
        </div>
       
      </form>
    </main>
  
</div>