<div class="container d-flex align-items-center py-4 bg-body-tertiary h-100">
    <main class="form-signin w-50 m-auto">
        <form>
      
          <h1 class="h3 mb-3 fw-normal">Sign up</h1>
          <div class="form-floating">
          <input type="email" class="form-control" id="floatingInputfirstname" placeholder="John" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}">
          <label for="floatingInputfirstname">First name</label>
          </div>
          <div class="form-floating my-1">
          <input type="text" class="form-control" id="floatingInputlastname" placeholder="Doe" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}">
          <label for="floatingInputlastname">Last name</label>
          </div>
          <div class="form-floating my-1">
            <input type="mobile" class="form-control" id="floatingInputmobile" placeholder="+9xx - 999 999 9999" minlength="10" maxlength="10" (keydown)="validateNumber()" [(ngModel)]="mobileNumber" [ngModelOptions]="{standalone: true}">
            <label for="floatingInputmobile">Mobile</label>
          </div>
          <div class="form-floating my-1">
            <input type="password" class="form-control" [disabled]="!showOTP"  id="floatingPassword" placeholder="Password" #box (keyup.enter)="onEnter(box.value)" (blur)="onEnter(box.value)" minlength="6" maxlength="6" (keydown)="clearError()" >
            <label for="floatingPassword">OTP</label>
          </div>
      
          <div class="form-check text-start my-2">
            <div *ngIf="this.error.length > 0" class="form-floating">
              <span class="error-msg">{{this.error}}</span>
            </div>
            <div *ngIf="this.info.length > 0" class="form-floating">
              <span class="info-msg">{{this.info}}</span>
            </div>
          </div>
          <div class="btn-grp">
            <button [disabled]="box.value.length < 6" class="custom-btn btn btn-dark w-50 py-2 rounded-pill" type="button" (click)="register()">
              <span role="status px-2">Register</span> 
              <span *ngIf="display" class="spinner-border spinner-border-sm spin" aria-hidden="true"></span>
            </button>
         
            <button class="custom-btn btn btn-link-dark py-2" type="button" (click)="btnClick()">
              Already registered? </button>
          </div>
         
        </form>
      </main>
    
</div>