.card-holder{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.action-menu{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
}
.btn-grp{
    align-items: center;
}
.logo{
    border-radius: 50%;
    width: 30%;
}
.custom-btn{
    height: 50px;
}
.intro-text{
    font-size: large;
    font-weight: 100;
    text-decoration: overline;
}