<div class="container heading py-4">
    <h2>Choose your tournament</h2>

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
 
    <div class="col">
      <div (click)="btnClick()" class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg card-img" style="background-image: url('../../../assets/1v1.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 card-text">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">1v1</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="../../../assets/logo.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
         
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>Booking, Timetable & Information</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div (click)="btnClick()" class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg card-img" style="background-image: url('../../../assets/3pc.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 card-text">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">3 point contest</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="../../../assets/logo.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
          
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>Booking, Timetable & Information</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div (click)="btnClick()" class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg card-img" style="background-image: url('../../../assets/5v5.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 card-text">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">5v5</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="../../../assets/logo.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
         
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>Booking, Timetable & Information</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    
    <div class="col">
        <div (click)="btnClick()" class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg card-img" style="background-image: url('../../../assets/dc.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 card-text align-items-left">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Dunk contest</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../../../assets/logo.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
           
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>Booking, Timetable & Information</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>